body {
    background-color: whitesmoke;
    color: black;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    }
button{
      padding: 5px 20px;
      background-color: #337ab7;
      border-style: none;
      color: #fdffff;
    }
input{
      height: 20px;
    }
span{
    color:red;
}
.ilust{
    background-image:url(https://light.dotup.org/uploda/light.dotup.org690156.png);             /* 画像のURLを指定       */
    background-repeat:  no-repeat;                /* 画像の繰り返しを指定  */              
    width:auto;                                   /* 横幅のサイズを指定    */
    height:200pX;                                 /* 縦幅のサイズを指定    */
}
.balloon2-top {
    position: relative;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 400px;
    max-width: 80%;
    color: #555;
    font-size: 16px;
    background: #FFF;
    border: solid 3px #555;
    box-sizing: border-box;
  }
  .balloon2-top:before {
    content: "";
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -15px;
    border: 12px solid transparent;
    border-bottom: 12px solid #FFF;
    z-index: 2;
  }
  
  .balloon2-top:after {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -17px;
    border: 14px solid transparent;
    border-bottom: 14px solid #555;
    z-index: 1;
  }
  
  .balloon2-top p {
    margin: 0;
    padding: 0;
  }

  .serif{
    font-family: 'Noto Serif JP', serif;
  }